# Python
__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
ENV/
.envrc
.env

# Packaging/build
build/
dist/
*.egg-info/
.eggs/

# Test/coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Type checking / lint
.mypy_cache/
.ruff_cache/

# Logs
*.log

# IDE/editor
.vscode/
.idea/
*.swp
.DS_Store

alembic/__pycache__/

# Docker
*.tar